/node_modules
/public/hot
/public/storage
/public/public-storage
/storage/*.key
/public/js/app.js
/public/mix-manifest.json
/vendor
*.tar
*.zip
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/admin.css
/public/css/app.css
/public/js/**/*
_ide_helper.php
/public/mix-manifest.json
/storage/**/*.index
/storage/*.index
/storage/files.directory_name.index
/.idea
push.sh
/resources/lang/ar.json
/resources/lang/en.json